<header class="bg-base-light dark:bg-base-dark">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between h-16 px-2 md:px-8"
  >
    <div class="flex md:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Movie vault</span>
        <img
          class="h-8 w-auto"
          src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg"
          alt=""
        />
      </a>
    </div>

    <div class="hidden md:flex md:gap-x-12">
      <ul
        class="flex [&>li]:px-4 [&>li]:py-1 [&>li]:hover:bg-crust-light [&>li]:dark:hover:bg-crust-dark [&>li]:hover:rounded-xl"
      >
        <li
          class="relative"
          (mouseenter)="showMoviesMenu()"
          (mouseleave)="hideMoviesMenu()"
        >
          <div
            class="flex items-center space-x-2 text-text-light dark:text-text-dark font-semibold"
          >
            <span>Movies</span>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          @if (isMoviesMenuOpen()) {
          <div
            class="absolute top-full -left-1 z-50 w-28 p-2 overflow-hidden rounded-xl bg-mantle-light dark:bg-mantle-dark shadow-lg ring-1 ring-crust-light dark:ring-crust-dark"
          >
            @for (item of itemsMoviesNav; track $index) {
            <div
              class="group relative flex items-center gap-x-6 rounded-lg p-2 text-sm/6 hover:bg-crust-light dark:hover:bg-crust-dark"
            >
              <a
                [href]="item.url"
                class="block font-semibold text-text-light dark:text-text-dark"
              >
                {{ item.name }}
              </a>
            </div>
            }
          </div>
          }
        </li>
        <li
          class="relative"
          (mouseenter)="showSeriesMenu()"
          (mouseleave)="hideSeriesMenu()"
        >
          <div
            class="flex items-center space-x-2 text-text-light dark:text-text-dark font-semibold"
          >
            <span>Series</span>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          @if (isSeriesMenuOpen()) {
          <div
            class="absolute top-full -left-1 z-50 w-28 p-2 overflow-hidden rounded-xl bg-mantle-light dark:bg-mantle-dark shadow-lg ring-1 ring-crust-light dark:ring-crust-dark"
          >
            @for (item of itemsSeriesNav; track $index) {
            <div
              class="group relative flex items-center gap-x-6 rounded-lg p-2 text-sm/6 hover:bg-crust-light dark:hover:bg-crust-dark"
            >
              <a
                [href]="item.url"
                class="block font-semibold text-text-light dark:text-text-dark"
              >
                {{ item.name }}
              </a>
            </div>
            }
          </div>
          }
        </li>
        <li
          class="relative"
          (mouseenter)="showStreamingMenu()"
          (mouseleave)="hideStreamingMenu()"
        >
          <div
            class="flex items-center space-x-2 text-text-light dark:text-text-dark font-semibold"
          >
            <span>Streaming</span>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          @if (isStreamingMenuOpen()) {
          <div
            class="absolute top-full -left-1 z-50 w-28 p-2 overflow-hidden rounded-xl bg-mantle-light dark:bg-mantle-dark shadow-lg ring-1 ring-crust-light dark:ring-crust-dark"
          >
            @for (item of itemsStreamingNav; track $index) {
            <div
              class="group relative flex items-center gap-x-6 rounded-lg p-2 text-sm/6 hover:bg-crust-light dark:hover:bg-crust-dark"
            >
              <a
                [href]="item.url"
                class="block font-semibold text-text-light dark:text-text-dark"
              >
                {{ item.name }}
              </a>
            </div>
            }
          </div>
          }
        </li>
      </ul>
    </div>

    <div class="flex flex-1 justify-end items-center space-x-2">
      <button
        class="text-text-light dark:text-text-dark"
        (click)="toggleSearchBar()"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <a
        href="#"
        class="py-1.5 px-3 text-sm font-bold text-text-light dark:text-text-dark focus:outline-none bg-mantle-light dark:bg-mantle-dark rounded-lg border border-crust-light dark:border-crust-dark hover:bg-crust-light dark:hover:bg-crust-dark hover:text-blue-light dark:hover:text-blue-dark focus:z-10 focus:ring-4 focus:ring-crust-light dark:focus:ring-crust-dark"
        >Log in</a
      >
      <a
        href="#"
        class="focus:outline-none text-base-light dark:text-base-dark bg-blue-light dark:bg-blue-dark hover:bg-sapphire-light dark:hover:bg-sapphire-dark focus:ring-4 focus:ring-sky-light dark:focus:ring-sky-dark font-bold rounded-lg text-sm px-3 py-1.5"
        >Sing up</a
      >
      <div class="flex md:hidden">
        <button
          type="button"
          class="py-2 px-3 inline-flex items-center justify-center rounded-md text-text-light dark:text-text-dark bg-mantle-light dark:bg-mantle-dark border border-crust-light dark:border-crust-dark hover:bg-crust-light dark:hover:bg-crust-dark"
          (click)="openMovilMenu()"
        >
          <span class="sr-only">Open main menu</span>
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>
    </div>
  </nav>

  @if (isMovilMenuOpen()) {
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="lg:hidden" role="dialog">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-50" (click)="closeMovilMenu()"></div>
    <div
      class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-mantle-light dark:bg-mantle-dark p-6 sm:max-w-sm sm:ring-1 sm:ring-crust-light dark:sm:ring-crust-dark"
    >
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Movie vault</span>
          <img
            class="h-8 w-auto"
            src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg"
            alt=""
          />
        </a>
        <button
          type="button"
          class="-m-2.5 rounded-md p-2.5 text-text-light dark:text-text-dark"
          (click)="closeMovilMenu()"
        >
          <span class="sr-only">Close menu</span>
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>

      <div class="mt-6 flow-root">
        <ul>
          <li (click)="toggleMoviesMovilMenu()">
            <div
              class="flex w-full items-center justify-between rounded-lg py-2 pr-3.5 pl-3 text-base/7 font-semibold text-text-light dark:text-text-dark hover:bg-crust-light dark:hover:bg-crust-dark"
            >
              <span>Movies</span>
              <i class="fa-solid fa-chevron-down"></i>
            </div>
            @if (isMoviesMovilMenuOpen()) {
            <div class="pl-5">
              @for (item of itemsMoviesNav; track $index) {
              <div
                class="group relative flex items-center gap-x-6 rounded-lg p-2 text-sm/6 hover:bg-crust-light dark:hover:bg-crust-dark"
              >
                <a
                  [href]="item.url"
                  class="block font-semibold text-text-light dark:text-text-dark"
                >
                  {{ item.name }}
                </a>
              </div>
              }
            </div>
            }
          </li>
          <li (click)="toggleSeriesMovilMenu()">
            <div
              class="flex w-full items-center justify-between rounded-lg py-2 pr-3.5 pl-3 text-base/7 font-semibold text-text-light dark:text-text-dark hover:bg-crust-light dark:hover:bg-crust-dark"
            >
              <span>Series</span>
              <i class="fa-solid fa-chevron-down"></i>
            </div>
            @if (isSeriesMovilMenuOpen()) {
            <div class="pl-5">
              @for (item of itemsSeriesNav; track $index) {
              <div
                class="group relative flex items-center gap-x-6 rounded-lg p-2 text-sm/6 hover:bg-crust-light dark:hover:bg-crust-dark"
              >
                <a
                  [href]="item.url"
                  class="block font-semibold text-text-light dark:text-text-dark"
                >
                  {{ item.name }}
                </a>
              </div>
              }
            </div>
            }
          </li>
          <li (click)="toggleStreamingMenu()">
            <div
              class="flex w-full items-center justify-between rounded-lg py-2 pr-3.5 pl-3 text-base/7 font-semibold text-text-light dark:text-text-dark hover:bg-crust-light dark:hover:bg-crust-dark"
            >
              <span>Streaming</span>
              <i class="fa-solid fa-chevron-down"></i>
            </div>
            @if (isStreamingMovilMenuOpen()) {
            <div class="pl-5">
              @for (item of itemsStreamingNav; track $index) {
              <div
                class="group relative flex items-center gap-x-6 rounded-lg p-2 text-sm/6 hover:bg-crust-light dark:hover:bg-crust-dark"
              >
                <a
                  [href]="item.url"
                  class="block font-semibold text-text-light dark:text-text-dark"
                >
                  {{ item.name }}
                </a>
              </div>
              }
            </div>
            }
          </li>
        </ul>
      </div>
    </div>
  </div>
  }

  <!-- Search Bar -->
  @if (isSearchBarOpen()) {
  <div class="fixed inset-0">
    <div
      class="fixed inset-0 z-20 backdrop-blur-md"
      (click)="toggleSearchBar()"
    ></div>
    <div
      class="relative z-50 mx-auto bg-base-light dark:bg-base-dark max-w-xl mt-12 rounded-lg p-4 flex justify-around shadow-md"
    >
      <form class="flex justify-center gap-2">
        <select
          class="bg-mantle-light dark:bg-mantle-dark border border-crust-light dark:border-crust-dark text-text-light dark:text-text-dark text-sm rounded-lg block p-1.5"
        >
          <option value="movies" selected>Movies</option>
          <option value="series">Series</option>
          <option value="celebrities">celebrities</option>
        </select>
        <div class="relative">
          <input
            class="w-full bg-transparent placeholder:text-subtext0-light dark:placeholder:text-subtext0-dark text-text-light dark:text-text-dark text-sm border border-crust-light dark:border-crust-dark rounded-md pl-3 pr-28 py-2 transition duration-300 ease focus:outline-none focus:border-blue-light dark:focus:border-blue-dark hover:border-sapphire-light dark:hover:border-sapphire-dark shadow-sm focus:shadow"
            placeholder="Movies, series & celebrities..."
          />
          <button
            class="absolute top-1 right-1 flex items-center rounded bg-blue-light dark:bg-blue-dark py-1 px-2.5 border border-transparent text-center text-sm text-base-light dark:text-base-dark transition-all shadow-sm hover:shadow focus:bg-sapphire-light dark:focus:bg-sapphire-dark focus:shadow-none active:bg-lavender-light dark:active:bg-lavender-dark hover:bg-sapphire-light dark:hover:bg-sapphire-dark active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
          >
            <i class="fa-solid fa-magnifying-glass"></i>
            Search
          </button>
        </div>
      </form>
      <button
        type="button"
        class="-m-2.5 rounded-md p-2.5 text-text-light dark:text-text-dark"
        (click)="toggleSearchBar()"
      >
        <span class="sr-only">Close menu</span>
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>
  }
</header>
